---
import { type Elkarlana } from "models/Ekintza";
import { getImageData } from "models/ImageMedia";

interface Props {
  elkarlana: Elkarlana;
}

const { elkarlana } = Astro.props;
---

<div>
  <h2>{elkarlana.label}</h2>

  <div class="erakundeak-wrapper">
    {
      elkarlana.erakundeak?.map((erakundea) => {
        const irudia = erakundea.logo ? getImageData(erakundea.logo) : null;

        return (
          <a href={erakundea.esteka}>
            {irudia ? (
              <img
                src={irudia.src}
                height={irudia.height}
                width={irudia.width}
                alt={irudia.alt}
                aria-label={erakundea.izena}
              />
            ) : (
              erakundea.izena
            )}
          </a>
        );
      })
    }
  </div>
</div>

<style lang="scss">
  @use "../../../style/mixins/displayFonts.scss";
  @use "../../../style/tools/mediaQueries.scss";

  h2 {
    color: var(--gorria);
    margin-bottom: var(--space-03-mobile);

    &::after {
      content: ":";
    }

    @include displayFonts.display5;
    @include mediaQueries.aboveTablet {
      margin-bottom: var(--space-05-desktop);
    }
  }

  a {
    display: inline-flex;
    gap: var(--space-02-mobile);

    color: var(--marroia);
    text-decoration: none;

    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    @include displayFonts.display6;

    @include mediaQueries.aboveTablet {
      gap: var(--space-02-desktop);
    }

    &:hover {
      opacity: 0.7;
    }

    &:not(:last-child) {
      margin-bottom: var(--space-03-mobile);

      @include mediaQueries.aboveTablet {
        gap: var(--space-04-desktop);
      }
    }
  }

  img {
    height: var(--space-08-mobile);
    width: auto;

    @include mediaQueries.aboveTablet {
      height: var(--space-08-desktop);
    }
  }

  .erakundeak-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-04-mobile);

    @include mediaQueries.aboveTablet {
      gap: var(--space-05-desktop);
    }
  }
</style>
