---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import { marked } from "marked";

interface Ekintza {
  slug: string;
  izenburua: string;
  titularra: string;
  deskribapena: string;
  hitzordua: string;
  sarrera: {
    label: string;
    deskribapena: string;
  };
  mainMedia: {
    alternativeText?: string;
    height: number;
    width: number;
    formats: {
      large?: {
        url: string;
      };
      medium?: {
        url: string;
      };
    };
  };
}

export async function getStaticPaths() {
  try {
    const response = await fetch(`${import.meta.env.STRAPI_URL}/graphql`, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        query: `
            query {
              ekintzak {
                slug
                elkarlana {
                  label
                  erakundeak {
                    izena
                    logo {
                      formats
                    }
                  }
                }
                hitzordua
                deskribapena
                izenburua
                labakoUzta
                mainMedia {
                  alternativeText
                  formats
                }
                sarrera {
                  deskribapena
                  id
                  label
                  url
                }
                titularra
                zikloa {
                  izena
                }
              }
            }
          `,
      }),
    });

    const json = await response.json();
    const { ekintzak } = json.data;
    return (ekintzak as Ekintza[]).map((ekintza: Ekintza) => ({
      params: { ekintza: ekintza.slug },
      props: { ekintza },
    }));
  } catch (error) {
    console.error("Error getStaticPaths funtzioan:", error);
    return [];
  }
}

const { ekintza } = Astro.props;
const hitzordua = new Date(ekintza.hitzordua);
---

<Layout title={ekintza?.izenburua}>
  <main>
    <article>
      <figure>
        <picture>
          <source
            srcset={`${import.meta.env.STRAPI_URL}${ekintza.mainMedia?.formats.large?.url}`}
            media="(min-width: 1024px)"
          />

          <img
            src={`${import.meta.env.STRAPI_URL}${ekintza.mainMedia?.formats.medium?.url}`}
            alt={ekintza.izenburua}
            style="width: 33%; height: auto;"
            width={ekintza.mainMedia?.width}
            height={ekintza.mainMedia?.height}
          />
        </picture>
      </figure>
      <h1>{ekintza?.izenburua}</h1>
      <p>{hitzordua.toLocaleString("eu")}</p>
      <p>{ekintza.titularra}</p>

      <hr />

      <div set:html={marked.parse(ekintza.deskribapena)} />

      <hr />

      <p>{ekintza.sarrera?.label}</p>
      <p><em>{ekintza.sarrera?.deskribapena}</em></p>

      <pre>{JSON.stringify(ekintza, null, 2)}</pre>
    </article>
  </main>
</Layout>
