---
import Layout from "../../layouts/Layout.astro";
import Logo from "../../assets/labaLogo.svg";
import ZigZag from "../_components/ZigZag.astro";
import { type Ekintza } from "models/Ekintza";
import MarkdownParser from "../_components/MarkdownParser.astro";
import type { Hasiera } from "models/Hasiera";
import PartehartzeaCard from "./components/PartehartzeaCard.astro";
import Header from "../_components/Header.astro";
import Footer from "../_components/Footer.astro";
import EkintzaZerrenda from "../_components/EkintzaZerrenda.astro";
import IrudiEstela from "views/_components/IrudiEstela.astro";

interface Props {
  hasiera: Hasiera;
  ekintzak: Ekintza[];
}

const { hasiera, ekintzak } = Astro.props;

const { izenburua, izanLabazkide, parteHartu, mosaikoa }: Hasiera = hasiera;
---

<Layout title={izenburua}>
  <Header isAbsolutePosition />

  <main class="main">
    <section class="hero">
      <h1>
        <span class="visually-hidden">Laba</span>
        <Logo class="logo" aria-title="Laba" />
      </h1>

      <IrudiEstela mosaikoa={mosaikoa} />
    </section>

    <ZigZag from="marroia" />

    <section class="agenda" id="agenda">
      <EkintzaZerrenda ekintzak={ekintzak} title="Agenda" />
    </section>

    <ZigZag from="gorria-background" to="gorria" />

    <section class="izan-labazkide" id="izan-labazkide">
      <div class="labazkide-wrapper">
        <h2 class="title">{izanLabazkide.izenburua}</h2>

        <MarkdownParser content={izanLabazkide.deskribapena} />

        <a class="izan-labazkide--url" href={izanLabazkide.url.url}
          >{izanLabazkide.url.label}</a
        >
      </div>
    </section>

    <ZigZag from="gorria" to="gorria-background" />

    <section class="parte-hartu" id="parte-hartu">
      <h2 class="title">{parteHartu.izenburua}</h2>

      <div class="parte-hartzeak--wrapper">
        <ul class="parte-hartzeak">
          {
            parteHartu.parteHartzea.map((parteHartzea) => (
              <PartehartzeaCard partehartzea={parteHartzea} />
            ))
          }
        </ul>
      </div>
    </section>
  </main>

  <ZigZag from="gorria-background" to="marroia" />

  <Footer />
</Layout>

<style lang="scss">
  .main {
    background-color: var(--gorria-background);
  }

  .hero {
    position: relative;

    min-height: 97dvh;
    display: flex;
    align-items: flex-end;
    padding: 48px;

    background-color: var(--marroia);
    color: var(--gorria);
  }

  h1 {
    z-index: 20;
  }

  .logo {
    height: 33dvh;
  }

  .agenda {
    padding: 148px 48px 148px 48px;
  }

  .izan-labazkide {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 24px;
    padding: 148px 48px 148px 48px;

    background-color: var(--gorria);
    color: var(--zuria);
  }

  .labazkide-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;

    grid-column: col-start 4 / span 6;
  }

  .izan-labazkide--url {
    color: var(--zuria);
  }

  .parte-hartu {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 148px 48px 148px 48px;
    gap: 32px;

    color: var(--marroia);
  }

  .parte-hartzeak {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 24px;
    grid-column: col-start 2 / span 10;
  }

  .parte-hartzeak--wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 24px;
  }

  .title {
    font-family: "Sohne", sans-serif;
    font-size: 49px;
    line-height: 110%;
  }
</style>
