---
import type { Partehartzea } from "models/Hasiera";
import ExternalSVG from "./ExternalSVG.astro";

interface Props {
  partehartzea: Partehartzea;
}

const { partehartzea } = Astro.props;
---

<li>
  <div><ExternalSVG externalSVG={partehartzea.ikonoa} /></div>

  <h3>{partehartzea.izenburua}</h3>
  <p>{partehartzea.deskribapena}</p>

  <a href={`mailto:${partehartzea.email}`}>{partehartzea.email}</a>
</li>

<style lang="scss">
  @use "../../../style/mixins/displayFonts.scss";

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-04-desktop);

    width: 30%;
  }

  div {
    color: var(--gorria);
    margin-bottom: var(--space-03-desktop);
  }

  h3 {
    @include displayFonts.display4;
    margin-bottom: var(--space-05-desktop);
  }

  p {
    text-align: center;
    margin-bottom: var(--space-05-desktop);
  }

  a {
    @include displayFonts.display6;
    color: var(--marroia);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
