---
import type { Partehartzea } from "../../../models/Hasiera";
import ExternalSVG from "./ExternalSVG.astro";

interface Props {
  partehartzea: Partehartzea;
}

const { partehartzea } = Astro.props;
---

<li>
  <div><ExternalSVG externalSVG={partehartzea.ikonoa} /></div>

  <h3>{partehartzea.izenburua}</h3>
  <p>{partehartzea.deskribapena}</p>

  <a href={`mailto:${partehartzea.email}`}>{partehartzea.email}</a>
</li>

<style lang="scss">
  li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    width: 30%;
  }

  div {
    color: var(--gorria);
    margin-bottom: 8px;
  }

  h3 {
    font-family: "Sohne", sans-serif;
    font-size: 28px;
    margin-bottom: 24px;
  }

  p {
    text-align: center;
    margin-bottom: 24px;
  }

  a {
    font-family: "Sohne", sans-serif;
    color: var(--marroia);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
